@media (min-width: 320px) and (max-width: 767px) {
    .partners_list li:not(:last-child){
        margin-bottom: 30px;
    }

    .buttons {
        margin-bottom: 130px;
    }

    .header_text p {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1170px) {
    .partners_list li:not(:nth-last-child(-n+2)){
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .header_text h2 {
        font-size: 37px;
    }

    .top {
        margin-bottom: 45px;
    }

    .header_text button {
        padding: 10px 15px;
    }

    .header_text p {
        margin-bottom: 40px;
    }
}