body {
    font-family: "Roboto", "Montserrat", 'Kaushan Script', sans-serif;
}

img {   
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1201px;
    margin: 0 auto;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* HEADER */

.wrapper {
    background: url(../img/mogobg.png) no-repeat center center;
    background-size: cover;
}

.header {
    padding-top: 39px;
    margin-bottom: 180px;
}

.header a  {
    width: 591px;
}

.header__nav {
    padding: 0;
    margin: 0;
    width: 521px;
}

.header__extra {
    padding: 0;
    margin: 0;
    width: 80px;
}

.header__extra .header__item {
    margin-left: 40px;
}

.header__item {
    position: relative;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
}

.header__item a {
    text-decoration: none;
    color: #fff;
}

.header__item-social {
    display: block;
    width: 20px;
    height: 20px;
    fill: #fff;
}

.header__item-social:hover {
    fill: #fce38a;
}

.header__item:after{
    position: absolute;
    z-index: 1;
    display: block;
    left: 50%;
    top: 28px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    opacity: 0;
}

.header__item:hover:after{
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
    opacity: 1;
}

.header__item a:hover {
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
    color: #fce38a; 
}

.header__item--active a {
    color: #fce38a;;
}

.header__item--active:after {
    opacity: 1;

}

/* PAGE */

.page {
    text-align: center;
    height: 830px;
}

.page__name-one {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 72px;
    line-height: 1.2;
    color: #fff;
    margin: 0;
    margin-bottom: 65px;
}

.page__name-two {
    font-size: 150px;
    color: #fff;
    line-height: 140px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 125px;
}

.page__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 29px ;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
}   

.page__button:hover{
    background-color: #f38181;
    -webkit-transition: 1.4s linear;
    -o-transition: 1.4s linear;
    transition: 1.4s linear;
}

/* MAIN WORDS */

.main-words {
    position: relative;
}

.main-words__one {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 22px;
}

.main-words__two {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 105px;
}

.main-words__two:after {
    position: absolute;
    content: "";
    display: block;
    top: 108px;
    left: 50%;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

/* SERVICES */

.services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 100px;
    list-style: none;
    
}

.services-item {
    width: 300px;
    margin-bottom: 100px;
    position: relative;
    margin-left: 83px;
}

.services-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.services-item__img {
    position: absolute;
    z-index: 1;
    display: block;
    left: -60px;
    top: 20px;
}

.services-item__name {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 12px;
}

.services-item__about {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

/* OUR TEAM */

.main-words__three {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    text-align: center;
    margin-bottom: 95px;
}

.cards-team {
    margin-bottom: 85px;
}

.card {
    width: 381px;
}

.card-head {
    position: relative;
    margin-bottom: 30px;
}

.card-head img {
    width: 100%;
}

.card__blue-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
}

.card__image-foreground {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: -webkit-gradient( linear, left top, right top, from(rgba(252,227,138, 0.8)), to(rgba(243,129,129, 0.8)));
    background: -o-linear-gradient( left, rgba(252,227,138, 0.8) 0%, rgba(243,129,129, 0.8) 100%);
    background: linear-gradient( 90deg, rgba(252,227,138, 0.8) 0%, rgba(243,129,129, 0.8) 100%);    
}

.card-head:hover .card__image-foreground {
    opacity: 1;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear; 
}

.card-head:hover .card__image-comtainer {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
}


/* SOCIAL LIST */

.card-list {
    padding: 0;
    height: 470px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.card-list__item {
    list-style: none;
    width: 55px;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fce38a;
    ;
    
}

.card-list__img {
    display: block;
    width: 25px;
    height: 25px;
    fill: #f38181;
}

.card-list__item:not(:last-child) {
    margin-right: 1px;
} 

.card-list__item:hover {
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
    background-color: #f38181;
}

.card-list__item:hover .card-list__img {
    fill: #fff;
}

/* CARD BODY */

.card-body  {
    text-align: center;
    
}

.card-body__name {
    font-family: "Montserrat", sans-serif;
    color: 333333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.card-body__job {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
}

/* FOOTER */

.wrapper-down {
    margin-bottom: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #e5e5e5;
}

.wrapper__text {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    padding-top: 12px;
}

.wrapper__site {
    color: #f38181;
    text-decoration: none;
}

.footer__form input[type="email"] {
    width: 228px;
    height: 41px;
    border: 1px solid #e7e7e7;
    border-right: none ;
    color: #e7e7e7;
    font-size: 13px;
    font-family: "Roboto";
    font-style: italic;
    line-height: 1.6;
    padding: 14px 12px;
    margin: -3px;
    outline: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.footer__form input[type="submit"] {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 31px;
    background-color: #95e1d3;
    border: none;
    cursor: pointer;
}

.footer__form input::-webkit-input-placeholder {
    color: #e7e7e7;
}

.footer__form input::-moz-placeholder {
    color: #e7e7e7;
}

.footer__form input:-ms-input-placeholder {
    color: #e7e7e7;
}

.footer__form input::-ms-input-placeholder {
    color: #e7e7e7;
}

.footer__form input::placeholder {
    color: #e7e7e7;
}



  