@media (min-width: 767px) {
    .container {
        width: 748px;
        padding: 0 50px;
    }

    .top {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 30px;
    }

    .buttons button {
        margin-top: 0;
    }

    .header_text h2 {
        font-size: 42px;
        width: 500px;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .header_text p {
        margin-bottom: 25px;
    }

    .header_text button {
        font-size: 11px;
        padding: 12px 16px;
    }
    
    .partners_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .partners_list :not(:nth-child(-n+2)) {
        margin-bottom: 0;
    }

    .partner_list_item {
        flex: 0 0 236px;
        margin-bottom: 30px;
    }

    .partners_header {
        margin-bottom: 40px;
    }


}

@media (min-width: 1170px) {
    .container {
        width: 942px;
    }

    .partners_list {
        flex-wrap: nowrap;
    }

    .partner_list_item {
        margin-bottom: 0;
    }

    .header_text button {
        font-size: 13px;
        padding: 16px 28px;
    }

    .header_text p {
        font-size: 21px;
        margin-bottom: 40px;
    }

    ..header_text p {
        margin-bottom: 52px;
}