$primary-fonts: "Roboto", "Montserrat", 'Kaushan Script', sans-serif;

$montserrat-font: "Montserrat", sans-serif;
$kaushan-script-font: 'Kaushan Script', sans-serif;
$roboto-font: "Roboto", sans-serif;

$standart-font-size: 14px;

$white-color: #fff;
$hover-color: #fce38a;
$red-color: #f38181;
$grey-color: #999;

$svg-color: #f38181;

$card-background: #95e1d3;